
/* .clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;} */
/*.clear-block{display:inline-block;}*/
/* Hides from IE-mac \*/

* html .clear-block{height:1%;}
.clear-block{display:block;}

/* public layouts*/
ul.menu{list-style:none;border:none;text-align:left;}
ul.menu li{margin:0 0 0 0.5em;}
h1,h2,h3,h4,h5,h6,body{margin:0.4em 0;font-family:Arial,Helvetica,sans-serif;}
body,div,table,td,input,select,option,textarea{
	font-size:14px;
}

span.comment
{
	color:#666;
	font-size:0.8em;
}



span.sharp_num{
	color:red;
	font-family:Georgia;
	font-size:1.2em;
	margin-left:6px;
	margin-right:6px;
}
/* header layouts */

#header-wrapper,#container,#footer-wrapper{
	margin:0px auto;
	width:980px;
}

#header{float:none;clear:both;}
#header-wrapper{background-color:#a5cc7a;}
#header{margin:0px;padding:5px 0px 5px 15px;}
#header a{color:#ffffff;font-weight:normal;}
#header ul{margin:0px;padding:0px;display:inline;}
#header ul li{padding:0px 10px 0px 0px;list-style:none;display:inline;}


#footer{float:none;clear:both;}
#footer-wrapper{background-color:#a5cc7a;}
#footer{margin:0px;padding:5px 0px 5px 15px;}
#footer a{color:#ffffff;font-weight:normal;}
#footer ul{margin:0px;padding:0px;display:inline;}
#footer ul li{padding:0px 10px 0px 0px;list-style:none;display:inline;}

/* index pages */ 
#how_it_works
{
	width:450px; 
	height:225px; 
	margin-left:200px;
	text-align:center; 
	border:1px solid #eee;
}
#place_chooser
{
	width:450px;
	height:225px;
	margin-left:200px;
	padding-left:50px;
	padding-top:50px;
}
#select_place_chooser option{font-size:2em; color:red;}


/* basic form pages */ 
#dest_intro
{
	border:1px solid #eee;
	min-height:160px;
	padding-left:20px;
	padding-bottom:10px;

}
div#dest_intro div#image
{
	width:100px;
	float:left;
}
div#dest_intro div#image img
{
	width:120px;
	height:90px;
}
div#dest_intro div#intro
{
	margin-left:150px;
	padding-right:40px;

}

div#basic_form,div#detail_form
{
	background-color:#efe;
	border:1px solid #eee;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	vertical-align:text-top;
}
div#basic_form,div#detail_form div
{
	vertical-align:top;
	padding-top:2px;
	padding-bottom:2px;
}

div.frm-heading
{
	width:200px;
	display:inline-block;
	text-align:right;
	vertical-align:text-top;
}

div.frm-inputs
{
	width:520px;
	display:inline-block;
	text-align:left;
}
div.success-frame{
	background-color:#eec;
	border:1px solid #eee;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	vertical-align:text-top;
}

button.default
{
	font-size:1.2em;
	border-top:1px solid #9cc;
	border-left:1px solid #9cc;
	border-right:2px solid #699;
	border-bottom:2px solid #699;
	background-color:#cee;
	cursor:pointer;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	padding:3px 10px 3px 10px;
}
